flows/.flows.json.backup
[{"id":"8ed68f35.46655","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10d8f393.28939c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b3e1c4e0.a01d38","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"68204e4d.3ab1f","type":"ui_group","z":"","name":"Default","tab":"b3e1c4e0.a01d38","disp":true,"width":"6","collapse":false},{"id":"bdfea068.39d01","type":"ui_tab","z":"","name":"otro","icon":"check"},{"id":"726fe160.a9f4d","type":"ui_group","z":"","name":"otro","tab":"bdfea068.39d01","disp":true,"width":"6","collapse":false},{"id":"c82c3ef4.64c6d","type":"ui_text","z":"8ed68f35.46655","group":"68204e4d.3ab1f","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-left","x":530,"y":80,"wires":[]},{"id":"e8eacc0b.1b204","type":"ui_button","z":"8ed68f35.46655","name":"","group":"68204e4d.3ab1f","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":140,"wires":[["b21cbaf9.c24828"]]},{"id":"b21cbaf9.c24828","type":"function","z":"8ed68f35.46655","name":"choose option","func":"return {\n   'component_name': 'Dynamic',\n   'template': '<input value=\"Text\"/>'\n};","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["c82c3ef4.64c6d","3ba11f33.4c2d6"]],"inputLabels":["config, click"]},{"id":"3ba11f33.4c2d6","type":"debug","z":"8ed68f35.46655","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":200,"wires":[]}]