flows/flows.json
[{"id":"8ed68f35.46655","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10d8f393.28939c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b3e1c4e0.a01d38","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"68204e4d.3ab1f","type":"ui_group","z":"","name":"Default","tab":"b3e1c4e0.a01d38","disp":true,"width":"6","collapse":false},{"id":"bdfea068.39d01","type":"ui_tab","z":"","name":"otro","icon":"check"},{"id":"726fe160.a9f4d","type":"ui_group","z":"","name":"otro","tab":"bdfea068.39d01","disp":true,"width":"6","collapse":false},{"id":"c82c3ef4.64c6d","type":"ui_text","z":"8ed68f35.46655","group":"68204e4d.3ab1f","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-left","x":530,"y":80,"wires":[]},{"id":"e8eacc0b.1b204","type":"ui_button","z":"8ed68f35.46655","name":"","group":"68204e4d.3ab1f","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":140,"wires":[["b21cbaf9.c24828"]]},{"id":"b21cbaf9.c24828","type":"function","z":"8ed68f35.46655","name":"button","func":"return {\n   'selector': 'dynamic1',\n   'template': '<button (click)=\"show(val.innerText)\" #val class=\"button1\">{{myIn}}</button>',\n   'styles': ['.button1 {background-color: #008CBA; color: white;}'],\n   'inputs': ['myIn'],\n   'outputs': ['myOut'],\n   'methods': '{\"show\": {\"params\": [\"n\"], \"method\": \"console.log(n); this.myOut.emit(n);\"}}'\n};","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["c82c3ef4.64c6d","3ba11f33.4c2d6"]],"inputLabels":["config, click"]},{"id":"3ba11f33.4c2d6","type":"debug","z":"8ed68f35.46655","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":200,"wires":[]},{"id":"2a6555ea.2550da","type":"function","z":"8ed68f35.46655","name":"keypad","func":"return {\n   'selector': 'keypad',\n   'template': `\n    <div>\n        <input [(ngModel)]=\"userInput\">\n    </div>\n    <div>\n    \t<dynamic1 [myIn]=1 (myOut)='getUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=2 (myOut)='getUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=3 (myOut)='getUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=4 (myOut)='getUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=5 (myOut)='getUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=6 (myOut)='getUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=7 (myOut)='getUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=8 (myOut)='getUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=9 (myOut)='getUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=0 (myOut)='getUserInput($event)'></dynamic1>\n\t</div>\n\t<div>\n    \t<dynamic1 [myIn]=\"'Back'\" (myOut)='backUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=\"'Cancel'\" (myOut)='clearUserInput($event)'></dynamic1>\n    \t<dynamic1 [myIn]=\"'Submit'\" (myOut)='submitUserInput($event)'></dynamic1>\n    </div>`,\n    'methods': `{\n        \"getUserInput\": {\"params\": [\"n\"], \"method\": \"console.log(n, this.userInput); this.userInput ? this.userInput += n : this.userInput = n;\"},\n        \"backUserInput\": {\"params\": [\"n\"], \"method\": \"this.userInput ? this.userInput = this.userInput.substring(0, this.userInput.length - 1)  : this.userInput = '';\"},\n        \"clearUserInput\": {\"params\": [\"n\"], \"method\": \"this.userInput = '';\"},\n        \"submitUserInput\": {\"params\": [\"n\"], \"method\": \"this.http.get('http://localhost:4000/send_input?user_input='+this.userInput).subscribe((response)=> { console.log(response);});\"}\n    }`\n};","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["c35464dc.3910a8","64d38736.ea4d28"]]},{"id":"be0520d2.d3e0b","type":"ui_button","z":"8ed68f35.46655","name":"","group":"68204e4d.3ab1f","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":300,"wires":[["2a6555ea.2550da"]]},{"id":"c35464dc.3910a8","type":"ui_text","z":"8ed68f35.46655","group":"68204e4d.3ab1f","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-left","x":530,"y":280,"wires":[]},{"id":"64d38736.ea4d28","type":"debug","z":"8ed68f35.46655","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":360,"wires":[]},{"id":"283b1949.5e9db6","type":"ui_text","z":"8ed68f35.46655","group":"68204e4d.3ab1f","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":460,"wires":[]},{"id":"2fce772b.071328","type":"ui_button","z":"8ed68f35.46655","name":"","group":"68204e4d.3ab1f","order":0,"width":0,"height":0,"passthru":false,"label":"submit","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":460,"wires":[["2d42dd27.333a92"]]},{"id":"2d42dd27.333a92","type":"function","z":"8ed68f35.46655","name":"validate","func":"console.log(\"Message:\", msg);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["283b1949.5e9db6"]]}]